
*~
*.key
*.jpg
*.aux
*.log
*.mat
*.m~
*.info
*.abs
*.dat
src/Main/PLANES_IJNME.m
src/Main/PLANES_CFM.m
Projects/*
!Projects/Kundt
!Projects/Multilayer_3D
TeX/
src/Misc/
.DS_*
sync_PLANES.m
*.fig
*.inp
*.mat
Batch_CFM