
*~
*.texpad*
*.key
*.jpg
*.aux
*.log
*.out
*.toc
*.mat
*.m~
*.info
*.abs
*.dat
src/Main/PLANES_IJNME.m
src/Main/PLANES_CFM.m
src/Problems/
Projects/*
!Projects/Kundt
!Projects/Multilayer_3D
src/Misc/
src/Problems
.DS_*
sync_PLANES.m
*.fig
*.inp
*.mat
Batch_CFM